.quantity-input {
  width: 30px;
}
.quantity-input,
.save-quantity-link {
  display: none;
}

.is-editing-quantity .quantity-input {
  display: initial;
}
.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .js-update-link {
  display: none;
}

.is-editing-quantity .quantity-label {
  display: none;
}

.save-quantity-link {
  cursor: pointer;
  color: rgb(18, 122, 214);
}
.save-quantity-link:hover {
  color: rgb(184, 39, 39);
}
